---
import { loadTranslations, createT } from "../utils/i18n";

const { locale } = Astro.props;
const translations = await loadTranslations(locale);
const t = createT(translations);
---

<style>
    .cta_text {
		text-align: center;
		font-style: italic;
		font-size: var(--text-m);
        letter-spacing: 2px;
	}
	#cta {
		background-image: url('/images/cta-bg.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		padding: 10rem 0 15rem;
	}
</style>

<section id="cta" class="mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="cta_text">{t("home.cta")}</div>
            </div>
        </div>
    </div>
</section>