---
import LanguageSwitcher from "./LanguageSwitcher.astro";
import { loadTranslations, createT } from "../utils/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

const { locale } = Astro.props;
const translations = await loadTranslations(locale);
const t = createT(translations);
---

<style>
    header {
        background-color: var(--white);
        padding: 1rem 0;
    }
    #header-hook {
        font-size: var(--text-xl);
    }
    .navbar-brand {
        margin-right: 0 !important;
    }
    .header_logo {
        height: 50px;
    }
</style>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span id="header-hook">{t("header.hook")}</span>
                    </li>
                </ul>
                <LanguageSwitcher locale={locale} />
            </div>
            <a class="navbar-brand" href={getRelativeLocaleUrl(locale, "/")}>
                <img class="header_logo" src="/images/logo.png" alt="logo" />
            </a>
        </div>
    </nav>
</header>
