---
import { loadTranslations, createT } from "../utils/i18n";

const { locale } = Astro.props;
const translations = await loadTranslations(locale);
const t = createT(translations);
const heroList = [t("hero.list1"), t("hero.list2"), t("hero.list3")];
---

<style>
    #hero .container {
        background-image: url("/images/hero-bg-2.svg"),
            url("/images/hero-bg.png");
        background-repeat: no-repeat;
        background-size: contain, contain;
        background-position: calc(100% - 12px);
    }
    #hero .container .row {
        max-height: calc(1080px - 150px);
        min-height: 900px;
        height: calc(100vh - 150px);
    }
    .hero-list {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
        font-size: var(--text-m);
    }
    .circled-number {
        display: inline-flex;
        aspect-ratio: 1;
        height: var(--text-m);
        border: 1px dashed var(--black);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    .hero-list_label {
        font-style: italic;
        letter-spacing: 3px;
        font-weight: 300;
    }
    .hero-logo_container {
        max-width: 80%;
    }
    .hero-logo_container img {
        max-width: 100%;
    }
    .hero-logo_label {
        font-size: var(--text-xxl);
    }
    .hero-form {
        width: 100%;
    }
    .hero-form input,
    .hero-form textarea {
        display: block;
        background-color: var(--light-grey);
        resize: none;
        outline: none;
        border: none;
        border-radius: 1.5rem;
        padding: 1rem;
        color: var(--black);
        font-size: var(--text-l);
        width: 100%;
    }
    .hero-form input {
        width: 50%;
    }
    .hero-form textarea {
        width: 100%;
        min-height: 200px;
    }
    .message-wrapper {
        position: relative;
    }
    .message-wrapper button {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        border: none;
        cursor: pointer;
    }
    .message-wrapper img {
        width: 30px;
        filter: invert(75%) sepia(99%) saturate(3102%) hue-rotate(329deg)
            brightness(109%) contrast(90%);
    }
    .mb-8 {
        margin-bottom: 4.5rem;
    }
    .mb-10 {
        margin-bottom: 6rem;
    }
    .mb-12 {
        margin-bottom: 8rem;
    }
</style>

<section id="hero" class="mb-10">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-10">
                <div>
                    <ul class="hero-list">
                        {
                            heroList.map((listItem, i) => (
                                <li>
                                    <span class="circled-number">{i + 1}</span>
                                    <span class="hero-list_label">
                                        {listItem}
                                    </span>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-8 mb-12">
                <div class="hero-logo_container mb-8">
                    <img src="/images/logo-xl.png" alt="SPAZIO LOGO" />
                </div>
                <div class="hero-logo_label mb-5">{t("hero.label")}</div>
            </div>
            <div class="col-12 col-md-8 d-flex align-items-end">
                <form id="contact-form" class="hero-form">
                    <input
                        name="email"
                        type="email"
                        placeholder="Your email _"
                        class="mb-3"
                        required
                    />
                    <div class="message-wrapper">
                        <textarea
                            name="message"
                            placeholder="Message to S.P.A.Z.I.O. _"
                            required></textarea>
                        <button type="submit">
                            <img src="/icons/arrow-up-circle.svg" alt="send form"/>
                        </button>
                    </div>
                    <input type="hidden" name="lang" value={locale} />
                </form>
            </div>
        </div>
    </div>
</section>

<script type="module">
    const form = document.getElementById('contact-form');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
  
      const data = new FormData(form);
      const res = await fetch("/.netlify/functions/send-email", {
        method: "POST",
        body: JSON.stringify(Object.fromEntries(data)),
        headers: { "Content-Type": "application/json" },
      });
  
      if (res.ok) {
        alert("Messaggio inviato!");
        form.reset();
      } else {
        alert("Errore nell'invio.");
      }
    });
</script>