---
import Layout from "../../layouts/base.astro";
import { changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout>
    <div id="container" class="container">
        About
    </div>
</Layout>